<div class="mra-header">
    <span>Patient: {{patientName}}</span>
    <span>DOB: 01/23/1968</span>
    <span>Member ID: 000123456</span>
    <span>Admit Date: 09/12/2016</span>
    <span style="float:right">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="onHeaderButtonClick()">
            <i class="material-icons">person</i>
        </button>
    </span>
</div>
<div class="container">
    <div class="mra-docs">
        <div class="mra-tabs__tab-bar">
            <a *ngFor="let tab of tabs" class="mdl-tabs__tab {{isSelectedTab(tab) ? 'selected-tab' : ''}}" (click)="onTabClick(tab)">{{tab.entry.name}}</a>
        </div>
        <!--Pass to the root of the tree the top-level list of entities.
               Optionally, pass the id of a currently selected node.
               Lastly, listen to the event selectedNode-->
        <tree-view class="mra-tree" [nodes]="nodes" [highlightedNode]="highlightedNode"
                   (selectedNode)="nodeSelected($event)">
            Loading...
        </tree-view>
    </div>
    <div class="mra-viewer">
        <alfresco-viewer [fileNodeId]="fileNodeId"></alfresco-viewer>
    </div>
</div>
<patient-selector (selectedPatient)="patientSelected($event)"></patient-selector>
