.mra-header {
    padding-left: 6px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    background-color: #fafafa;
}

.mra-header span{
    padding-right: 48px;
}

.mdl-button--fab {
    height: 46px;
    width: 46px;
    min-width: 46px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mra-docs {
    width: 35%;
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mra-tabs {
    width: 35%;
    display:block;
}

.mra-tabs__tab-bar {
    display:flex;
    flex-direction: column;
    align-content:space-between;
    align-items: flex-end;
    border-right: 1px solid #e0e0e0;
}

.mdl-tabs__tab {
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected-tab {
    border-bottom: 2px solid rgb(255, 152, 0);
}

.mra-tree {
    width: 65%;
}

.mra-tree ul {
    list-style: none;
}

.mra-viewer {
    order: 2;
    margin: auto;
    width: 65%;
}

