.mra-header {
    padding-left: 6px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mra-header span{
    padding-right: 48px;
}

.mdl-button--fab {
    height: 46px;
    width: 46px;
    min-width: 46px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mra-docs {
    width: 35%;
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mra-tabs {
    width: 35%;
    display:block;
}

.mra-tabs__tab-bar {
    display:flex;
    flex-direction: column;
    align-content:space-between;
    align-items: flex-end;
    border-right: 1px solid #e0e0e0;
}

.mra-tabs__vertical-tab {
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin:0;
    border:none;
    position:relative;
    display:inline-block;
    overflow:hidden;
    width: 32px;
}

.mra-tabs__vertical-inner {
    display: inline-block;
    white-space: nowrap;

    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;

    margin: 5px;
}

.mra-tabs__vertical-inner:after {
    content: "";
    float: left;
    margin-top: 100%;
}

.mdl-tabs__tab {
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
}

.selected-tab {
    border-right: 5px solid rgb(255, 152, 0);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12), 0 -2px 2px 0 rgba(0,0,0,.14),0 -3px 1px -2px rgba(0,0,0,.2),0 -1px 5px 0 rgba(0,0,0,.12);
}

.mra-tree {
    width: 65%;
}

.mra-tree ul {
    list-style: none;
}

.mra-viewer {
    order: 2;
    width: 45%;
}

.empty-viewer {
    display: inline-block;
    margin: 40% 50%;
}

