<div class="mra-header">
    <span *ngIf="patient">Patient: {{patient.entry.properties['pa:patient_name']}}</span>
    <span *ngIf="patient">Sex: {{patient.entry.properties['pa:sex']}}</span>
    <span *ngIf="patient">DOB: {{patient.entry.properties['pa:patient_dob'] | date:"MM/dd/yy"}}</span>
    <span *ngIf="patient">Member ID: {{patient.entry.properties['pa:patient_member_id']}}</span>
    <span style="float:right">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="onHeaderButtonClick()">
            <i class="material-icons">person</i>
        </button>
    </span>
</div>
<div *ngIf="patient" class="container">
    <div class="mra-docs">
        <div class="mra-tabs__tab-bar">
            <div *ngFor="let tab of tabs; let i=index"
               class="mra-tabs__vertical-tab {{isSelectedTab(tab) ? 'selected-tab' : ''}}"
               (click)="onTabClick(tab)"
                [style.border-right-color]="getTabBorderColor(i, tab)" [style.background-color]="getTabBackgroundColor(i)" [style.border-right-width]="'5px'" [style.border-right-style]="'solid'">
                <span class="mra-tabs__vertical-inner">{{tab.entry.properties['cm:title']}}</span></div>
        </div>
        <!--Pass to the root of the tree the top-level list of entities.
               Optionally, pass the id of a currently selected node.
               Lastly, listen to the event selectedNode-->
        <tree-view *ngIf="nodes"  class="mra-tree" [nodes]="nodes" [highlightedNode]="highlightedNode"
                   (selectedNode)="nodeSelected($event)">
            Loading...
        </tree-view>
    </div>
    <div class="mra-viewer">
        <alfresco-viewer *ngIf="fileNodeId" [fileNodeId]="fileNodeId"></alfresco-viewer>
    </div>
</div>
<patient-selector (selectedPatient)="patientSelected($event)"></patient-selector>

<div *ngIf="!patient" style="position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    width: 64px;
    margin: auto;">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="height:64px; width:64px;" (click)="onHeaderButtonClick()">
        <i class="material-icons">person</i>
    </button>
</div>
